@charset "utf-8";
/* mixinの定義 */

// 色の設定
$mainColor: #FFD600;
$subColor: #FFDEF2;
$baseColor: #E6FCFF;
$black: #222222;
$blue: #204988;
// 背景画像のパスの設定
$imgPath: "../images/";


@mixin mainTitle{
  display: inline-block;
  margin-top: 65px;
  margin-bottom: 30px;
  padding: 10px 30px;
  line-height: 2;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  font-size: 2rem;
  font-family: "Dela Gothic One", system-ui;
  border-radius: 50px;
  background-color: #fff;
  box-shadow: 4px 6px 0 #FFD600;
}
@mixin styleReset{
  display: initial;
  margin-top: initial;
  margin-bottom: initial;
  padding: initial;
  line-height: initial;
  letter-spacing: initial;
  text-align: initial;
  text-transform: initial;
  color: initial;
  font-size: initial;
  font-family: initial;
  border-radius: initial;
  background-color: initial;
  box-shadow: initial;
}
// ボーダーの装飾
@mixin borderPattern1{
  border: 6px dotted $blue;
  background-color: #fff;
  border-radius: 45px;
}
@mixin borderPattern2{
  border: 15px solid $mainColor;
  background-color: #fff;
  border-radius: 20px;
}
@mixin borderPattern3{
  border: 15px solid #ff9900;
  background-color: #fff;
  border-radius: 20px;
}

// ニュースの装飾
@mixin newsPattern1{
  display: inline-block;
  padding: 2.5px 30px;
  font-family: "Jost", sans-serif;
  color: #fff;
  background-color: #ffd600;
  border-radius: 25px;
}
@mixin newsPattern2{
  display: inline-block;
  padding: 2.5px 23px;
  color: #fff;
  background-color: #ff3d60;
  border-radius: 25px;
}
@mixin newsPattern3{
  display: inline-block;
  padding: 2.5px 15px;
  color: #fff;
  background-color: #347be8;
  border-radius: 25px;
}
@mixin newsPattern4{
  display: inline-block;
  padding: 2.5px 14px;
  color: #fff;
  background-color: #70d6f6;
  border-radius: 25px;
}

// ボタン
@mixin btnPink{
  display: inline-block;
  margin-top: 20px;
  padding: 5px 50px;
  border-radius: 25px;
  background-color: #ff3d60;
  color: #fff;
  letter-spacing: 4px;
  font-family: "Kosugi", system-ui;
  font-size: 1.8rem;
}


// メディアクエリ
@mixin respond-to($breakpoint) {
  @if $breakpoint == mobile {
    @media (max-width: 480px) { @content; }
  } @else if $breakpoint == tablet {
    @media (max-width: 768px) { @content; }
  } @else if $breakpoint == desktop {
    @media (max-width: 1100px) { @content; }
  }
}